<form action="/<%= @filename %>/edit" method="post">
  <label for="newfilename">Edit content of </label>
  <input name="newfilename" value="<%= @filename %>" type="text">

  <div>
    <textarea name="content" rows="20" cols="100"><%= @content %></textarea>
  </div>

  <input type="submit" value="Save Changes">
</form>
