<h1>Image Upload</h1>
<form action="/img_upload" method="post" enctype="multipart/form-data">
  <label for="img">Upload an image (only png and jpeg images are supported.)</label>
  <input type="file" name="img" accept="image/png, image/jpeg">
  <input type="submit" value="Upload">
  <a href="/">Cancel</a>
</form>
