<form method="post" action="/login">
  <div>
    <label for="user_name">Username:</label>
      <input name="user_name" type="text">
  </div>

  <div>
    <label for="password">Password:</label>
      <input name="password" type="text">
  </div>

  <button type="Sign In">Sign In</button>
</form>
