<h1>Account Login</h1>
<form method="post" action="/login">
  <div>
    <label for="username">Username:</label>
      <input name="username" type="text">
  </div>

  <div>
    <label for="password">Password:</label>
      <input name="password" type="text">
  </div>

  <button type="submit">Sign In</button>
</form>
<p>
  Don't have an account? <a href="/register">Register an account</a>
</p>
<a href="/">Back</a>
