<h1>New Document</h1>
<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <input name="filename" placeholder="Enter new filename" type="text">

  <input type="submit" value="Create">
  <a href="/">Cancel</a>
</form>
