<!-- Input new file name -->
<!-- Submit button -->
<!-- Direct to post /filename/new -->

<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <input name="filename" placeholder="Enter new filename" type="text">

  <input type="submit" value="Create">
</form>
