<h1>Account Registration</h1>
<form method="post" action="/register">
  <div>
    <label for="username">Username:</label>
      <input name="username" type="text" class="inline">
      Must consist of only letters and numbers, and must be between 4-10 characters.
  </div>

  <div>
    <label for="password">Password:</label>
      <input name="password" type="password" class="inline">
      Cannot contain spaces and must be between 4-10 characters.
  </div>

  <button type="submit">Register</button>
  <a href="/">Cancel</a>
</form>
